
body {
  direction: ltr;
  text-align: left;
}

.owl-carousel {
  direction: ltr;

}

#scroll-top {
  right: 15px;
  left: auto;
}


.slideInRight {
  animation-name: slideInLeft;
}

.slideInLeft {
  animation-name: slideInRight;
}


.mr-1, .mx-1 {
  margin-right: 0!important;
  margin-left: .25rem!important;
}

.mr-2, .mx-2 {
  margin-right: 0!important;;
  margin-left: .5rem!important;
}

.mr-3, .mx-3 {
  margin-right: 0!important;
  margin-left: 1rem!important;
}

.mr-4, .mx-4 {
  margin-right: 0!important;
  margin-left: 1.5rem!important;
}

.mr-md-2, .mx-md-2 {
  margin-right: 0!important;
  margin-left: .5rem!important;
}

.mr-sm-4, .mx-sm-4 {
  margin-right: 0!important;
  margin-left: 1.5rem!important;
}

.ml-3, .mx-3 {
  margin-right: 1rem!important;
  margin-left: 0!important;
}

form {
  .form-group {
    .form-control {
      text-align: left;
      padding: 0 25px 0 0;
    }

  }
}

header {
  .menu {
    .menuLinks {
      li {
        margin-left: 25px;
        margin-right: 0;
      }
    }

    .leftDiv{

      .lang{
        margin-right: 0;
        margin-left: 30px;
        i{
          margin-right: 5px;
          margin-left: 0;
        }
      }

      .noti{
        margin-left: 0;
        margin-right: 20px;
      }

    }

  }
}

#owl-demo{

  .item{
    .content{

      .info{

        i{
          margin-left: 0;
          margin-right: 10px;
        }
      }

    }
  }

}

.upcomingEvents{

  .searchBox{

    .form-group{

      .fa-search{
        right: 15px;
        left: auto;
      }
    }

  }

  .tabsEvents{

    .tab-content{

      .tab-pane{

        .tabCont{
          a{

            .posDiv{
              right: 0;
              left: auto;
            }

            .info{

              .user{
                .starBlock{
                  margin-left: 10px;
                  margin-right: 0;
                }
              }
              .locPrice{
                i{
                  margin-right: 5px;
                  margin-left: 0;
                }
              }
            }

          }
        }


      }
    }

  }

}


.downloadApp{

  .container{
    .rose1{
      right: 0;
      left: auto;
    }
    .rose2{
      right: 85px;
      left: auto;
    }
  }

}

footer{
  .footerLinks{

    > div{
      h5{
        &:after{
          left: 0;
          right: auto;
        }

      }

      .linksUl{
        li{
          a{
            i{
              margin-right: 7px;
              margin-left: 0;

              transform: rotateY(-180deg);
              &.fas.fa-phone-volume {
                transform: rotate(170deg) rotateY(-180deg);
              }
            }
          }
        }
      }

    }

  }
}

@media(max-width: 767px) {

  header{
    .menu {
      text-align: left;
      transform-origin: left;
      left: -100%;
      right: auto;

      &.ulDir {
        left: 0;
        right: auto;
      }

      .user {

        img , i{
          margin-right: 20px;
          margin-left: 0;
        }

      }

      .menuLinks {
        li {
          margin: 0 5px 15px;
        }
      }

      .leftDiv {
        .lang {
          margin-left: 0;
        }
      }

    }
    .overlay {
      right: 0;
      left: auto;
      transform-origin: right;
    }
  }


}

@media(min-width: 768px) and (max-width: 991px) {



}

@media(min-width: 992px) and (max-width: 1199px) {

}

@media(min-width: 1200px){
}